* {
    cursor: url("../image/vector/football-game/cursor.svg"), default;
    scroll-behavior: smooth;
}

@import 
'./utils/mixins',
'./utils/placeholders',
'./utils/variable';
@import 
'./components/greeting-modal',
'./components/header',
'./components/header-select',
'./components/game-section',
'./components/checking-year',
'./components/guess-number',
'./components/ssp-game',
'./components/calculator-game',
'./components/timer-game',
'./components/dino-game',
'./components/football-game',
'./components/max-number-game',
'./components/team-slider',
'./components/filter-scientists',
'./components/subscribe-modal',
'./components/footer';

body {
    background: var(--body-bg);
    background-image: url("../image/raster/background-image@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 85px;
    transition: all 0.8s ease-in-out;
}
.container {
    width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, p, ul, li, hr {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none
}
a {
    text-decoration: none;
    color: inherit;
}
input, textarea, button {
    outline: none;
    border: none;
    padding: 0;
    &:focus-visible {
        outline: none;
        border: none;
        color: var(--text-input);
    }
}
.main {
    @extend %position-center-column;
    &__content {
        width: 100%;
        padding: 36px 0;
        @extend %position-center-column;
        gap: 36px;
        background-color: var(--game-section-bg);
        transition: all 0.8s ease-in-out;
    }
    &__title {
        color: var(--black-text);
        font-family: "Montserrat Alternates";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__title-box {
        width: 100%;
        @extend %position-center;
    }
}
.decor-line {
    width: 536px;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--black-bg);
    border: none;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    body {
        background-image: url("../image/raster/background-image@2x.png");
    }
}
@media (max-width: 1200px) {
    .container {
        width: 734px;
    }
    .main {
        &__content {
            padding: 34px 0;
            gap: 34px;
        }
        &__title {
            font-size: 18px;
        }
    }
    .decor-line {
        width: 400px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 480px;
    }
    .main {
        &__content {
            padding: 32px 0;
            gap: 32px;
        }
    }
    .decor-line {
        width: 330px;
    }
}
@media (max-width: 480px) {
    .container {
        width: 365px;
    }
    .main {
        &__content {
            padding: 25px 0;
            gap: 25px;
        }
        &__title {
            width: 170px;
            text-align: center;
            font-size: 16px;
        }
    }
    .decor-line {
        width: 250px;
    }
}
@media (max-width: 365px) {
    .container {
        width: 320px;
    }
    .decor-line {
        width: 230px;
    }
}