@charset "UTF-8";
* {
  cursor: url("../image/vector/football-game/cursor.svg"), default;
  scroll-behavior: smooth;
}

.main__title-box, .subscribe-modal__close-btn, .subscribe-modal, .filter-scientists__image--after::after, .filter-scientists__image:hover::after, .team-slider__bottom, .team-slider__top, .max-number-game__form, .max-number-game, .dino-game, .timer-game, .calculator-game__signs-group, .calculator-game__form, .ssp-game__label, .ssp-game__game-consol, .checking-form__submit, .nav__list, .header__info-group, .greeting-modal__close-btn, .greeting-modal__main-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content, .main, .filter-scientists, .team-slider__slide-content, .team-slider, .ssp-game__form, .game-section, .greeting-modal__label, .greeting-modal__form, .greeting-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.theme-light {
  --white: #FFF;
  --white-bg: #FFF;
  --white-text: #FFF;
  --white-ball-bg: #FFF;
  --black: #000;
  --black-bg: #000;
  --black-text: #000;
  --black-ball-br: #000;
  --red: red;
  --grey: #7A7A7A;
  --dark-grey: #7E7E7E;
  --active-grey: #797979;
  --lite-grey: #EEE;
  --grey-white: #D7D7D7;
  --medium-grey: #D9D9D9;
  --green: #039900;
  --bright-green: #5ABB58;
  --blue-original: blue;
  --body-bg: #EEE;
  --game-section-bg: #FFF;
  --text-input: #000;
  --ssp-game-bg: #000;
  --filter-btn-text: #FFF;
  --filter-btn-bg: #000;
  --filter-btn-text-hover: #000;
  --modal-bg: #FFF;
  --modal-text: #000;
  --standart-btn-bg: #000;
  --standart-btn-text: #FFF;
  transition: all 0.8s ease-in-out;
}

.theme-dark {
  --white: #000;
  --white-bg: #000;
  --white-text: #000;
  --white-ball-bg: #000;
  --black: #FFF;
  --black-bg: #FFF;
  --black-text: #FFF;
  --black-ball-br: #000;
  --red: red;
  --grey: #7A7A7A;
  --dark-grey: #7E7E7E;
  --active-grey: #797979;
  --lite-grey: #EEE;
  --grey-white: #D7D7D7;
  --medium-grey: #D9D9D9;
  --green: #039900;
  --bright-green: #5ABB58;
  --blue-original: blue;
  --body-bg: #4f4f54;
  --game-section-bg: #34363a;
  --text-input: #000;
  --ssp-game-bg: #000;
  --filter-btn-text: #FFF;
  --filter-btn-bg: #000;
  --filter-btn-text-hover: #000;
  --modal-bg: #FFF;
  --modal-text: #000;
  --standart-btn-bg: #000;
  --standart-btn-text: #FFF;
  transition: all 0.8s ease-in-out;
}

.greeting-modal {
  display: none;
  width: 576px;
  height: 316px;
  flex-shrink: 0;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: var(--modal-bg);
  transition: all 0.5s ease-in;
  padding: 46px 92px;
  background-image: url("../image/raster/modal/sword@1x.png"), url("../image/raster/modal/puzzle@1x.png"), url("../image/raster/modal/game-development@1x.png"), url("../image/raster/modal/tic-tac-toe@1x.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top 154px left 41px, bottom 56px left 85px, top 154px right 41px, bottom 56px right 85px;
  gap: 42px;
}
.greeting-modal__main-text {
  width: 393px;
  color: var(--modal-text);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.greeting-modal__close-btn {
  position: absolute;
  background: inherit;
  border: none;
  top: 30px;
  right: 30px;
  flex-shrink: 0;
  stroke: var(--modal-text);
  cursor: pointer;
}
.greeting-modal__close-btn:hover {
  stroke: var(--grey);
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.greeting-modal__close-btn-svg {
  width: 15px;
  height: 15px;
}
.greeting-modal__form {
  gap: 18px;
}
.greeting-modal__label {
  gap: 18px;
  color: var(--modal-text);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.greeting-modal__input {
  outline: none;
  border: none;
  display: inline-flex;
  width: 169px;
  padding: 10px 90px 10px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--grey-white);
  color: var(--dark-grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.greeting-modal__input:focus-visible {
  outline: none;
  border: none;
}
.greeting-modal__save-btn {
  border: none;
  outline: none;
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--standart-btn-bg);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: var(--standart-btn-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.greeting-modal__save-btn:hover {
  background-color: var(--white-bg);
  color: var(--black-text);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.greeting-modal__backdrop {
  display: none;
}

.open-modal {
  position: fixed;
  display: flex !important;
}

.open-modal__activ-backdrop {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: var(--grey);
  opacity: 0.6;
  display: block !important;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .greeting-modal {
    background-image: url("../image/raster/modal/sword@2x.png"), url("../image/raster/modal/puzzle@2x.png"), url("../image/raster/modal/game-development@2x.png"), url("../image/raster/modal/tic-tac-toe@2x.png");
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
  .greeting-modal {
    width: 350px;
    height: 310px;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0;
    background-size: 25px 25px;
    background-position: top 90px left 30px, bottom 40px left 20px, top 90px right 30px, bottom 40px right 20px;
  }
  .greeting-modal__main-text {
    width: 100%;
    font-size: 15px;
  }
  .greeting-modal__close-btn-svg {
    width: 20px;
    height: 20px;
  }
  .greeting-modal__label {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 365px;
  }
}
@media (max-width: 365px) {
  .container {
    width: 320px;
  }
}
.header {
  background-color: var(--game-section-bg);
  transition: all 0.8s ease-in-out;
}
.header__content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 80px;
  padding: 21px 15px !important;
}
.header__logo-image-light {
  width: 93px;
  height: 38.145px;
  flex-shrink: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.header__logo-image-nigh {
  width: 93px;
  height: 38.145px;
  flex-shrink: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.header__info-group {
  gap: 50px;
}
.header__welcome {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-image--active {
  display: block !important;
}

.menu-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  display: none;
}

.nav__list {
  gap: 50px;
}
.nav__select {
  color: var(--black-text);
  background-color: inherit;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.nav__select:hover {
  transform: translateY(5px);
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.nav__select-option {
  color: var(--black-text);
  background-color: inherit;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__list-link {
  display: block;
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__list-link:hover {
  transform: translateY(5px);
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.type-page {
  width: 40px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 11px;
  background: var(--grey);
  position: relative;
  cursor: pointer;
}
.type-page__checbox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  opacity: 0;
}
.type-page__checbox:checked .type-page__ball {
  right: 0;
  transition: all 0.3s ease;
}
.type-page__ball {
  width: 20.5px;
  height: 20px;
  flex-shrink: 0;
  background-color: var(--white-ball-bg);
  border-radius: 100%;
  border: 0.5px solid var(--black-ball-br);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 25;
}
.type-page__light {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 2.73px;
  transform: translateY(-50%);
  background-image: url("../image/vector/sun.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s ease-in;
}
.type-page__dark {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 50;
  top: 50%;
  right: 2.73px;
  transform: translateY(-50%);
  background-image: url("../image/vector/month.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.1s ease-in;
}

.inactive {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.move {
  right: 0;
  left: auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .container {
    width: 734px;
  }
  .header__content {
    gap: 40px;
    padding: 18px 15px !important;
  }
  .header__info-group {
    gap: 30px;
  }
  .nav__list {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px !important;
  }
  .header._active {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
  }
  .header__info-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .header__welcome {
    font-size: 25px;
  }
  .menu-icon {
    display: block;
    width: 34px;
    height: 24px;
    position: relative;
    cursor: pointer;
  }
  .menu-icon__line, .menu-icon::before, .menu-icon::after {
    position: absolute;
    height: 3px;
    width: 100%;
    transition: all 0.3s linear;
    background-color: var(--black-text);
    border-radius: 20px;
  }
  .menu-icon__line, .menu-icon::before, .menu-icon::after {
    content: "";
  }
  .menu-icon::before {
    top: 22%;
  }
  .menu-icon::after {
    bottom: 35%;
  }
  .menu-icon__line:nth-child(1) {
    top: 0;
  }
  .menu-icon__line:nth-child(2) {
    bottom: 0;
  }
  .menu-icon__line {
    transform: scale(1) translate(0, -50%);
  }
  .menu-icon._active {
    z-index: 20;
  }
  .menu-icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .menu-body {
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    background-color: var(--white-bg);
    transform: translate(-100%, 0px);
    transition: all 0.3s ease 0s;
  }
  .menu-body._active {
    transform: translate(0px, 0px);
  }
  body._lock {
    overflow: hidden;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .nav__select {
    font-size: 25px;
  }
  .nav__select-option {
    font-size: 25px;
  }
  .nav__list-link {
    font-size: 25px;
  }
  .type-page {
    transform: scale(1.5);
  }
}
@media (max-width: 480px) {
  .container {
    width: 365px;
  }
}
@media (max-width: 365px) {
  .container {
    width: 320px;
  }
}
.game-section {
  width: 100%;
  gap: 36px;
}
.game-section__title {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checking-year {
  width: 576px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checking-year__result {
  color: var(--green);
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checking-form {
  width: 215px;
  height: 35px;
  border-radius: 20px;
  background: var(--grey-white);
  box-shadow: 3px 3px gray;
  position: relative;
  overflow-x: hidden;
}
.checking-form__label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: inherit;
}
.checking-form__input {
  width: 180px;
  height: 35px;
  background: inherit;
  padding: 10px;
  color: var(--dark-grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.checking-form__input:focus-visible {
  border: none;
  outline: none;
}
.checking-form__submit {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  background-color: var(--black-bg);
}
.checking-form__submit:hover {
  background-color: var(--white-bg);
}
.checking-form__submit:hover .checking-form__submit-svg {
  stroke: var(--black);
}
.checking-form__submit-svg {
  width: 15px;
  height: 15px;
  stroke: var(--white);
}

.guess-number {
  width: 576px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guess-number__result {
  color: var(--green);
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.guess-number__form {
  width: 150px;
}
.guess-number__input {
  width: 115px;
}

.ssp-game {
  width: auto;
  position: relative;
}
.ssp-game__result-consol {
  position: absolute;
  top: 0;
  right: -197px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.ssp-game__result-consol-title, .ssp-game__result-consol-item {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.ssp-game__result-consol-list {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.ssp-game__form {
  gap: 36px;
}
.ssp-game__game-consol {
  gap: 38px;
}
.ssp-game__label {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--ssp-game-bg);
  cursor: pointer;
}
.ssp-game__label:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.ssp-game__element-svg {
  width: 40px;
  height: 40px;
}
.ssp-game__input {
  display: none;
}
.ssp-game__input:checked + .ssp-game__label {
  background: var(--blue-original);
}
.ssp-game__result-text {
  color: var(--green);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ssp-game__btn {
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: var(--black-bg);
  padding: 10px 20px;
  color: var(--white-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ssp-game__btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.calculator-game {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}
.calculator-game__form {
  gap: 38px;
}
.calculator-game__number-label {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--grey-white);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.calculator-game__number-input {
  width: 95px;
  background: inherit;
  color: var(--dark-grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
}
.calculator-game__signs-group {
  width: 62px;
  height: 60px;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 10px;
}
.calculator-game__sign {
  display: none;
}
.calculator-game__sign:checked + .calculator-game__sign-label {
  background: var(--blue-original);
}
.calculator-game__sign-label {
  display: flex;
  padding: 5px 10px;
  align-items: flex-start;
  border-radius: 20px;
  background-color: var(--black-bg);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: var(--white-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.calculator-game__sign-label:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.calculator-game__decision-btn {
  display: flex;
  padding: 5px 10px;
  align-items: flex-start;
  border-radius: 20px;
  background-color: var(--black-bg);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: var(--white-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.calculator-game__decision-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.calculator-game__resulat {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--grey-white);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: var(--dark-grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timer-game {
  width: auto;
  gap: 33px;
}
.timer-game__form {
  width: 150px;
}
.timer-game__input {
  width: 115px;
}
.timer-game__result {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dino-game {
  width: 720px;
  height: 273px;
}
.dino-game__link {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dino-game__link:hover {
  box-shadow: 0px 0px 5px 0px var(--blue-original);
}
.dino-game__image {
  width: 100%;
  height: 100%;
}

.football-game {
  width: 720px;
  height: 220px;
  border-radius: 37px;
  border: 2px solid var(--black);
  background: var(--bright-green);
  position: relative;
}
.football-game__ball {
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background-image: url("../image/raster/football-game/ball.png");
}

.max-number-game {
  width: auto;
  flex-direction: column;
  gap: 36px;
}
.max-number-game__form {
  gap: 38px;
}
.max-number-game__label {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--grey-white);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.max-number-game__input {
  width: 95px;
  background: inherit;
  color: var(--dark-grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
}
.max-number-game__resulat {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.team-slider {
  width: 906px;
  height: 249px;
  gap: 20px;
  position: relative;
}
.team-slider__arrow {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 100px;
  cursor: pointer;
}
.team-slider__arrow:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.team-slider__left-arrow {
  left: 0;
}
.team-slider__right-arrow {
  right: 0;
}
.team-slider__main-slider {
  width: 536px;
  height: auto;
  padding-bottom: 4px;
  overflow: hidden;
}
.team-slider__student-slide {
  display: none;
  width: 100%;
  height: 100%;
}
.team-slider__student-slide--block {
  display: block;
}
.team-slider__slide-content {
  width: 100%;
  height: 100%;
  gap: 20px;
}
.team-slider__student-image {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--medium-grey);
  -o-object-fit: cover;
     object-fit: cover;
}
.team-slider__user-name {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.team-slider__student-info {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.team-slider__bottom {
  gap: 6px;
}
.team-slider__pagination-line {
  width: 18px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--medium-grey);
  cursor: pointer;
}
.team-slider__pagination-line:hover {
  transform: scaleX(1.1);
  background-color: var(--active-grey);
  transition: all 0.3s ease;
}
.team-slider__pagination-line--active {
  transition: all 0.3s ease;
  width: 30px;
  background-color: var(--active-grey);
}

.filter-scientists {
  width: auto;
  gap: 36px;
}
.filter-scientists__image-group {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-column-gap: 59px;
  grid-row-gap: 36px;
  position: relative;
}
.filter-scientists__image {
  opacity: 0.3;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--medium-grey);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.filter-scientists__image:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.filter-scientists__image:hover::after {
  opacity: 1;
  position: absolute;
  width: 577px;
  height: 40px;
  border-radius: 20px;
  color: var(--white-text);
  font-family: "Montserrat Alternates";
  background-color: var(--black-bg);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.filter-scientists__image:nth-child(1) {
  grid-area: 1/1/2/2;
}
.filter-scientists__image:nth-child(2) {
  grid-area: 1/2/2/3;
}
.filter-scientists__image:nth-child(3) {
  grid-area: 1/3/2/4;
}
.filter-scientists__image:nth-child(4) {
  grid-area: 1/4/2/5;
}
.filter-scientists__image:nth-child(5) {
  grid-area: 2/1/3/2;
}
.filter-scientists__image:nth-child(6) {
  grid-area: 2/2/3/3;
}
.filter-scientists__image:nth-child(7) {
  grid-area: 2/3/3/4;
}
.filter-scientists__image:nth-child(8) {
  grid-area: 2/4/3/5;
}
.filter-scientists__image:nth-child(9) {
  grid-area: 3/1/4/2;
}
.filter-scientists__image:nth-child(10) {
  grid-area: 3/2/4/3;
}
.filter-scientists__image:nth-child(11) {
  grid-area: 3/3/4/4;
}
.filter-scientists__image:nth-child(12) {
  grid-area: 3/4/4/5;
}
.filter-scientists__image--after {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.filter-scientists__image--after::after {
  content: "Name: Albert, Surname: Einstein, Born: 1879.";
  opacity: 1;
  position: absolute;
  width: 577px;
  height: 40px;
  border-radius: 20px;
  color: var(--white-text);
  font-family: "Montserrat Alternates";
  background-color: var(--black-bg);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}
.filter-scientists__image--1 {
  background-image: url("../image/raster/filter-scientist/albert-einsteit.jpeg");
}
.filter-scientists__image--1:hover::after {
  content: "Name: Albert, Surname: Einstein, Born: 1879, Dead: 1955.";
}
.filter-scientists__image--2 {
  background-image: url("../image/raster/filter-scientist/isaac-newton.jpeg");
}
.filter-scientists__image--2:hover::after {
  content: "Name: Isaac, Surname: Newton, Born: 1643, Dead: 1727.";
}
.filter-scientists__image--3 {
  background-image: url("../image/raster/filter-scientist/galileo-galilei.jpeg");
}
.filter-scientists__image--3:hover::after {
  content: "Name: Galileo, Surname: Galilei, Born: 1564, Dead: 1642.";
}
.filter-scientists__image--4 {
  background-image: url("../image/raster/filter-scientist/marie-curie.jpeg");
}
.filter-scientists__image--4:hover::after {
  content: "Name: Marie, Surname: Curie, Born: 1867, Dead: 1934.";
}
.filter-scientists__image--5 {
  background-image: url("../image/raster/filter-scientist/johannes-kepler.jpeg");
}
.filter-scientists__image--5:hover::after {
  content: "Name: Johannes, Surname: Kepler, Born: 1571, Dead: 1630.";
}
.filter-scientists__image--6 {
  background-image: url("../image/raster/filter-scientist/nicolaus-copernicus.jpeg");
}
.filter-scientists__image--6:hover::after {
  content: "Name: Nicolaus, Surname: Copernicus, Born: 1473, Dead: 1543.";
}
.filter-scientists__image--7 {
  background-image: url("../image/raster/filter-scientist/max-planck.jpeg");
}
.filter-scientists__image--7:hover::after {
  content: "Name: Max, Surname: Planck, Born: 1858, Dead: 1947.";
}
.filter-scientists__image--8 {
  background-image: url("../image/raster/filter-scientist/katharite-blodgett.jpeg");
}
.filter-scientists__image--8:hover::after {
  content: "Name: Katherine, Surname: Blodgett, Born: 1898, Dead: 1979.";
}
.filter-scientists__image--9 {
  background-image: url("../image/raster/filter-scientist/ada-lovelace.jpeg");
}
.filter-scientists__image--9:hover::after {
  content: "Name: Ada, Surname: Lovelace, Born: 1815, Dead: 1852.";
}
.filter-scientists__image--10 {
  background-image: url("../image/raster/filter-scientist/sarah-e-goode.jpeg");
}
.filter-scientists__image--10:hover::after {
  content: "Name: Sarah E., Surname: Goode, Born: 1855, Dead: 1905.";
}
.filter-scientists__image--11 {
  background-image: url("../image/raster/filter-scientist/lise-meitner.jpeg");
}
.filter-scientists__image--11:hover::after {
  content: "Name: Lise, Surname: Meitner, Born: 1878, Dead: 1968.";
}
.filter-scientists__image--12 {
  background-image: url("../image/raster/filter-scientist/hanna-hammarström.jpg");
}
.filter-scientists__image--12:hover::after {
  content: "Name: Hanna, Surname: Hammarström, Born: 1829, Dead: 1909.";
}
.filter-scientists__filter-option-group {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.filter-scientists__filter-option-top-section {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 36px;
}
.filter-scientists__filter-option-left-section {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}
.filter-scientists__filter-option-right-section {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.filter-scientists__filter-option-btn {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--filter-btn-bg);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: var(--filter-btn-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
  cursor: pointer;
}
.filter-scientists__filter-option-btn:hover {
  background: var(--lite-grey);
  color: var(--filter-btn-text-hover);
  transition: all 0.3s ease-in-out;
}
.filter-scientists__active-scientist {
  opacity: 1;
  box-shadow: 0px 0px 0px 5px var(--bright-green);
}
.filter-scientists__active-scientist-red {
  opacity: 1;
  box-shadow: 0px 0px 0px 5px var(--red);
}
.filter-scientists__remove-scientist {
  opacity: 0 !important;
  pointer-events: none;
}
.filter-scientists__active-btn {
  background: var(--medium-grey);
  color: var(--active-btn-text);
}
.filter-scientists__image--default {
  opacity: 1;
}

.subscribe-modal {
  width: 463px;
  height: 245px;
  flex-shrink: 0;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: var(--modal-bg);
  padding: 83px 0 138px 0;
  background-image: url("../image/raster/modal/sword@1x.png"), url("../image/raster/modal/puzzle@1x.png"), url("../image/raster/modal/game-development@1x.png"), url("../image/raster/modal/tic-tac-toe@1x.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top 69px left 43px, bottom 70px left 87px, top 69px right 42px, bottom 70px right 86px;
  display: none;
}
.subscribe-modal__close-btn {
  position: absolute;
  background: inherit;
  border: none;
  top: 30px;
  right: 30px;
  flex-shrink: 0;
  stroke: var(--modal-text);
}
.subscribe-modal__close-btn:hover {
  stroke: var(--grey);
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.subscribe-modal__close-btn-svg {
  width: 15px;
  height: 15px;
}
.subscribe-modal__title {
  color: var(--modal-text);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subscribe-modal {
    background-image: url("../image/raster/modal/sword@2x.png"), url("../image/raster/modal/puzzle@2x.png"), url("../image/raster/modal/game-development@2x.png"), url("../image/raster/modal/tic-tac-toe@2x.png");
  }
}
.footer {
  width: 100%;
  background-color: var(--game-section-bg);
  position: relative;
  transition: all 0.8s ease-in-out;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 61px 15px 59px 15px !important;
}
.footer__logo-link {
  margin-top: 14px;
}
.footer__logo-image-light {
  width: 165px;
  height: 70px;
  flex-shrink: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.footer__logo-image-nigh {
  width: 165px;
  height: 70px;
  flex-shrink: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.footer__info-group {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-right: 2px;
}
.footer__info-option:hover {
  transform: translateX(10px);
  opacity: 0.8;
  transition: all 0.3s ease;
}
.footer__info-link {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  cursor: pointer;
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 18px;
  margin-top: 36px;
}
.footer__input-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 36px;
}
.footer__form-input {
  display: inline-flex;
  padding: 10px 80px 10px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: var(--grey-white);
  color: var(--dark-grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__form-submit {
  padding: 10px;
  border-radius: 20px;
  background-color: var(--black-bg);
  color: var(--white-text);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__form-submit:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.footer__form-description {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  background: var(--body-bg);
  background-image: url("../image/raster/background-image@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 85px;
  transition: all 0.8s ease-in-out;
}

.container {
  width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6, p, ul, li, hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea, button {
  outline: none;
  border: none;
  padding: 0;
}
input:focus-visible, textarea:focus-visible, button:focus-visible {
  outline: none;
  border: none;
  color: var(--text-input);
}

.main__content {
  width: 100%;
  padding: 36px 0;
  gap: 36px;
  background-color: var(--game-section-bg);
  transition: all 0.8s ease-in-out;
}
.main__title {
  color: var(--black-text);
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__title-box {
  width: 100%;
}

.decor-line {
  width: 536px;
  height: 1px;
  flex-shrink: 0;
  background-color: var(--black-bg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../image/raster/background-image@2x.png");
  }
}
@media (max-width: 1200px) {
  .container {
    width: 734px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 365px;
  }
}
@media (max-width: 365px) {
  .container {
    width: 320px;
  }
}/*# sourceMappingURL=main.css.map */