$white: #FFF;
$black: #000;
$red: red;
$grey: #7A7A7A;
$dark-grey: #7E7E7E;
$activ-grey: #797979;
$lite-gey: #EEE;
$grey-white: #D7D7D7;
$medium-grey: #D9D9D9;
$green: #039900;
$bright-green: #5ABB58;
$blue-original: blue;