.checking-year {
    width: 576px;
    @include flex(space-between, center);
    &__result {
        color: var(--green);
        text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
}
.checking-form {
    width: 215px;
    height: 35px;
    border-radius: 20px;
    background: var(--grey-white);
    box-shadow: 3px 3px gray;
    position: relative;
    overflow-x: hidden;
    &__label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: inherit;
    }
    &__input {
        width: 180px;
        height: 35px;
        background: inherit;
        padding: 10px;
        color: var(--dark-grey);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        &:focus-visible {
            border: none;
            outline: none;
        }
    }
    &__submit {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none ;
        outline: none;
        width: 35px;
        height: 35px;
        @extend %position-center;
        background-color: var(--black-bg);
        &:hover {
            background-color: var(--white-bg);
            .checking-form__submit-svg {
                stroke: var(--black);
            }
        }
    }
    &__submit-svg {
        width: 15px;
        height: 15px;
        stroke: var(--white);
    }
}
@media (max-width: 1200px) {
    .checking-year {
        width: 500px;
    }
}
@media (max-width: 768px) {
    .checking-year {
        width: auto;
        @include flex-dop(center, center, column);
        gap: 32px;
        &__result {
            width: 90%;
        }
    }
}
@media (max-width: 480px) {
    .checking-year {
        gap: 25px;
    }
}