.footer {
    width: 100%;
    background-color: $white;
    &__content {
        @include flex(space-between, start);
        padding: 61px 0 59px 0;
        gap: 185px;
    }
    &__logo-link {
        margin-top: 14px;
    }
    &__logo-image {
        width: 165px;
        height: 70px;
        flex-shrink: 0;
    }
    &__info-group {
        width: auto;
        @include flex-dop(center, start, column);
        padding-right: 2px;
    }
    &__info-option {
        &:hover {
            transform: translateX(10px);
            opacity: 0.8;
            transition: all 0.3s ease;
        }
    }
    &__info-link {
        color: $black;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        cursor: pointer; 
    }
    &__form {
        @include flex-dop(center, start, column);
        gap: 18px;
        margin-top: 36px;
    }
    &__input-group {
        @include flex(start, center);
        gap: 36px;
    }
    &__form-input {
        display: inline-flex;
        padding: 10px 80px 10px 10px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: $grey-white;
        color: $dark-grey;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__form-submit {
        padding: 10px;
        border-radius: 20px;
        background: $black;
        color: $white;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }
    }
    &__form-description {
        color: $black;
        font-family: "Montserrat Alternates";
        font-size: 6px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.subscribe-modal {
    width: 463px;
    height: 245px;
    flex-shrink: 0;
    border-radius: 20px;
    background: $white;
    padding: 83px 0 138px 0;
    border: 1px solid $black;
    @extend %position-center;
    background-image: url("../image/raster/modal/sword@1x.png"), url("../image/raster/modal/puzzle@1x.png"), url("../image/raster/modal/game-development@1x.png"), url("../image/raster/modal/tic-tac-toe@1x.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: top 69px left 43px, bottom 70px left 87px, top 69px right 42px, bottom 70px right 86px;
    display: none;
    &__close-btn {
        position: absolute;
        background: inherit;
        border: none;
        @extend %position-center;
        top: 30px;
        right: 30px;
        flex-shrink: 0;
        stroke: $black;
        &:hover {
            stroke: $grey;
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
    }
    &__close-btn-svg {
        width: 15px;
        height: 15px;
    }
    &__title {
        color: $black;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}