.football-game {
    width: 720px;
    height: 220px;
    border-radius: 37px;
    border: 2px solid var(--black);
    background: var(--bright-green);
    position: relative;
    &__ball {
        position: absolute;
        left: 50%;
        top: 50%;
        cursor: pointer;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        background-image: url("../image/raster/football-game/football@1x.png");
    }
}