.max-number-game {
    width: auto;
    @extend %position-center;
    flex-direction: column;
    gap: 36px;
    &__form {
        @extend %position-center;
        gap: 38px;
    }
    &__label {
        display: flex;
        padding: 10px 20px;
        align-items: flex-start;
        border-radius: 20px;
        background: var(--grey-white);
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
    &__input {
        width: 95px;
        background: inherit;
        color: var(--dark-grey);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: start;
    }
    &__resulat {
        color: var(--black-text);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .max-number-game {
        gap: 34px;
        &__form {
            gap: 34px;
        }
    }
}
@media (max-width: 768px) {
    .max-number-game {
        gap: 32px;
        &__form {
            @include flex-dop(center, center, column);
            gap: 32px;
        }
        &__resulat {
            width: 90%;
        }
    }
}
@media (max-width: 480px) {
    .max-number-game {
        gap: 25px;
        &__form {
            gap:  25px;
        }
    }
}