.ssp-game {
    width: auto;
    position: relative;
    &__result-consol {
        position: absolute;
        top: 0;
        right: -197px;
        @include flex-dop(center, start, column);
        gap: 8px;
    }
    &__result-consol-title, &__result-consol-item {
        color: var(--black-text);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }
    &__result-consol-list {
        @include flex-dop(center, start, column);
        gap: 8px;
    }
    &__form {
        @extend %position-center-column;
        gap: 36px;
    }
    &__game-consol {
        @extend %position-center;
        gap: 38px;
    }
    &__label {
        opacity: 0;
        @extend %position-center;
        padding: 10px;
        border-radius: 20px;
        background-color: var(--ssp-game-bg);
        cursor: pointer;
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }
        &.visible {
            opacity: 1;
            transition: all 0.4s ease-in-out;
        }
    }
    &__element-svg {
        width: 40px;
        height: 40px;
    }
    &__input {
        display: none;
        &:checked + .ssp-game__label {
            background: var(--blue-original);
        }
    }
    &__result-text {
        color: var(--green);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__btn {
        outline: none;
        border: none;
        border-radius: 20px;
        background-color: var(--black-bg);
        padding: 10px 20px;
        color: var(--white-text);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
            transition: all 0.2s ease-in-out;
        }
    }
}
@media (max-width: 1200px) {
    .ssp-game {
        &__result-consol {
            right: -130px;
        }
        &__form {
            gap: 34px;
        }
        &__game-consol {
            gap: 34px;
        }
    }
}
@media (max-width: 768px) {
    .ssp-game {
        @include flex-dop(center, center, column);
        gap: 32px;
        &__result-consol {
            @include flex(center, center);
            width: auto;
            position: static;
        }
        &__result-consol-list {
            @include flex-dop(center, center, column);
        }
        &__form {
            gap: 32px;
        }
        &__game-consol {
            gap: 32px;
        }
    }
}
@media (max-width: 480px) {
    .ssp-game {
        gap: 25px;
        &__form {
            gap: 25px;
        }
        &__game-consol {
            gap: 25px;
        }
    }
}