.subscribe-modal {
    width: 463px;
    height: 245px;
    flex-shrink: 0;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: var(--modal-bg);
    padding: 83px 0 138px 0;
    @extend %position-center;
    background-image: url("../image/raster/modal/sword@1x.png"), url("../image/raster/modal/puzzle@1x.png"), url("../image/raster/modal/game-development@1x.png"), url("../image/raster/modal/tic-tac-toe@1x.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: top 69px left 43px, bottom 70px left 87px, top 69px right 42px, bottom 70px right 86px;
    display: none;
    &__close-btn {
        position: absolute;
        background: inherit;
        border: none;
        @extend %position-center;
        top: 30px;
        right: 30px;
        flex-shrink: 0;
        stroke: var(--modal-text);
        &:hover {
            stroke: var(--grey);
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
    }
    &__close-btn-svg {
        width: 15px;
        height: 15px;
    }
    &__title {
        color: var(--modal-text);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

