.timer-game {
    width: 470px;
    @include flex(start, center);
    gap: 33px;
    position: relative;
    &__form {
        width: 150px;
    }
    &__input {
        width: 115px;
    }
    &__decor-line {
        width: 100px;
        height: auto;
        flex-shrink: 0;
        stroke: var(--black-text);
        &.active {
            animation: lineAnimation 5s ease-in-out;
        }
    }
    &__result {
        width: 100%;
        color: var(--black-text);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.4s ease-in-out;
        position: absolute;
        left: 316px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.active-decor-line {
    animation: lineAnimation 3s ease-in-out infinite;
}
@keyframes lineAnimation {
    0% {
        transform: scaleX(0.8);
    }
    25% {
        transform: scaleX(1.2);
        box-shadow: 0px 0px 10px 1px var(--green);
    }
    50% {
        transform: scaleX(1);
        box-shadow: 0px 0px 15px 1px var(--green);
    }
    75% {
        transform: scaleX(1.2);
        box-shadow: 0px 0px 10px 1px var(--green);
    }
    100% {
        transform: scaleX(0.8);
    }
}

@media (max-width: 1200px) {
    .timer-game {
        width: auto;
        @include flex-dop(center, center, column);
        gap: 34px;
        &__result {
            @include flex(center, center);
            width: 100%;
            text-align: center;
            position: static;
        }
    }
}
@media (max-width: 768px) {
    .timer-game {
        gap: 32px;
    }
}
@media (max-width: 480px) {
    .timer-game {
        gap: 25px;
        &__result {
            width: 170px;
        }
    }
}